<div class="card card-complementary">
  <div class="card-header">
    <p class="card-title text-thin">Tornillos</p>
    <p class="card-subtitle text-bold">Decorativos</p>
  </div>
  <div class="card-body">
    <div class="box box-tall"></div>
  </div>
</div>

<div class="card card-secondary">
  <div class="card-header">
    <p class="card-title card-title-small text-thin">Fudente para</p>
    <p class="card-subtitle card-subtitle-small text-bold">Acrilico</p>
  </div>
  <div class="card-body">
    <div class="box"></div>
  </div>
</div>

<div class="card card-dark">
  <div class="card-header">
    <p class="card-title card-title-small text-thin">Planchas de</p>
    <p class="card-subtitle card-subtitle-small text-bold">Acrilico</p>
  </div>
  <div class="card-body">
    <div class="box"></div>
  </div>
</div>

<div class="card card-complementary card-inline">
  <div class="card-header">
    <p class="card-title card-title-small text-thin">Corte de</p>
    <p class="card-subtitle card-subtitle-small text-bold">láser</p>
  </div>
  <div class="card-body">
    <div class="box"></div>
  </div>
</div>
