<div class="grid grid-col-4 no-gap">
  <div class="footer-index">
    <p class="footer-index-title">Inicio</p>
    <ul class="list">
      <li class="list-item"><a href="#">Quienes somos</a></li>
      <li class="list-item"><a href="#">Misión</a></li>
      <li class="list-item"><a href="#">Vision</a></li>
      <li class="list-item"><a href="#">Clientes</a></li>
    </ul>
  </div>

  <div class="footer-index">
    <p class="footer-index-title">Nosotros</p>
    <ul class="list">
      <li class="list-item"><a href="#">Quienes somos</a></li>
      <li class="list-item"><a href="#">Misión</a></li>
      <li class="list-item"><a href="#">Vision</a></li>
      <li class="list-item"><a href="#">Clientes</a></li>
    </ul>
  </div>

  <div class="footer-index">
    <p class="footer-index-title">Productos</p>
  </div>

  <div class="footer-index">
    <p class="footer-index-title">Contacto</p>
    <ul class="list">
      <li class="list-item"><a href="#">Ubicacion</a></li>
      <li class="list-item"><a href="#">Horarios</a></li>
      <li class="list-item"><a href="#">Teleéfono</a></li>
      <li class="list-item"><a href="#">Correo electrónico</a></li>
    </ul>
  </div>
</div>
