:root {
  --color-primary: #2f3e97;
  --color-secondary: #d4cfcf;
  --color-secondary-darker: #606060;
  --color-accent: #ffc643;
  --color-accent-lighter: #f0bb3f;
  --color-complementary: #d52121;
  --color-complementary-darker: #7a0d0d;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Placeholder */

.box {
  background-color: dodgerblue;
  height: 100px;
  width: 100px;
}

.box-tall {
  height: 200px;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  line-height: 1.1;
  margin-top: 0;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
}

/* Text */

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.text-complementary {
  color: var(--color-complementary);
}

.text-thin {
  font-weight: 300;
}

.text-bold {
  font-weight: 800;
}

/* Container */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Grid */

.grid {
  display: grid;
  gap: 10px;
}

.no-gap {
  gap: 0;
}

@media screen and (min-width: 768px) {
  .grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Links */

a {
  color: black;
  text-decoration: none;
}

/* Navigation Bar */

.nav {
  border: 1px solid tomato;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  height: 6rem;
}

.nav-logo {
  margin: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.nav-item {
  font-size: 1.5rem;
  height: 3rem;
  width: 8rem;
}

.nav-item a {
  align-items: center;
  border-bottom: none;
  color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: font-weight 0.3s;
  width: 100%;
}

.nav-item a:hover {
  border-bottom: 4px solid yellow;
  font-weight: bold;
}

/* Button */

.button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.button-action {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 5rem;
}

.button-accent {
  background-color: var(--color-accent);
  color: white;
}

.button-accent:hover {
  background-color: var(--color-accent-lighter);
}

.button-circle {
  border-radius: 100%;
}

/* Icon Buttons */

.icon-button {
  align-items: center;
  background-color: white;
  border: none;
  box-shadow: 0 3px 2px 1px #b5b5b5;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  transition: background-color 0.3s;
  width: 40px;
  outline-color: var(--color-accent);
}

.icon-button:hover {
  background-color: var(--color-secondary);
}

/* List */

.list {
  list-style: none;
  padding-left: 0;
}

.list-inline {
  display: flex;
  gap: 1rem;
}

/* Card */

.card {
  padding: 2rem 1rem 0 1rem;
  border-radius: 1rem;
  min-width: 280px;
  margin: 1rem 0;
}

.card-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  gap: 1rem;
}

.card-complementary {
  background-color: var(--color-complementary);
}

.card-secondary {
  background-color: var(--color-secondary-darker);
}

.card-dark {
  background-color: black;
}

.card-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 3rem;
  margin-bottom: 0;
}

.card-title-small {
  font-size: 2rem;
}

.card-subtitle {
  font-size: 3rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.card-subtitle-small {
  font-size: 2rem;
}

.card-body {
  display: flex;
  justify-content: center;
}

/* Footer */

.footer-index {
  background-color: var(--color-complementary);
  color: white;
}

.footer-index a {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.footer-index a:hover {
  color: white;
}

.footer-index .list-item {
  margin-bottom: 0.5rem;
}

.footer-index-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--color-complementary-darker);
}

/* Divider */

.divider {
  height: 2px;
  margin: 2rem auto;
  background-color: white;
  width: 90%;
}

/* Copyright */

.copyright {
  background-color: var(--color-complementary);
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
}

.copyright-title {
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}